## Importing librairies

In [1]:
import numpy as np
import pandas as pd
import fuzzy_pandas as fpd

## Importing datasets

In [2]:
survey = pd.read_excel('./datasets/survey_clean.xlsx')
survey.head()

,Country,Vaccines are not important for children to have (%),Vaccines are not safe (%),Vaccines are not effective (%),Overall Avg. (%)
0,Afghanistan,2.10,4.47,1.84,2.803333
1,Albania,1.67,15.85,8.96,8.826667
2,Algeria,3.70,11.28,7.70,7.560000
3,Argentina,1.21,4.85,2.95,3.003333
4,Armenia,12.18,20.57,12.47,15.073333

In [3]:
immu = pd.read_csv('./datasets/immu_clean.csv')
immu.head()

   Unnamed: 0 Country Name  % of one years-old not vaccinated
0       67751  Afghanistan                               34.0
1       69180      Albania                                1.0
2       70609      Algeria                                9.0
3       73467      Andorra                                2.0
4       74896       Angola                               41.0

In [4]:
wiki = pd.read_csv('./datasets/wiki_clean.csv')
wiki.head()

   Unnamed: 0 Countries Vaccination policy
0           0   Austria                 RA
1           1   Belgium                 MA
2           2  Bulgaria                 MA
3           3   Croatia                 MA
4           4    Cyprus                 RA

In [5]:
survey['Country'] = survey['Country'].str.replace('The Gambia','Gambia')

In [6]:
immu['Country Name'] = immu['Country Name'].str.replace("Cote d'Ivoire",'Ivory Coast').str.replace(
    'Kyrgyz Republic','Kyrgyzstan').str.replace(
    'Lao PDR','Laos').str.replace(
    'Russian Federation','Russia').str.replace(
    'Slovak Republic','Slovakia')

## Merging datasets

In [7]:
data = fpd.fuzzy_merge(survey, immu, left_on='Country', right_on='Country Name', ignore_case=True)
data = data.drop('Unnamed: 0', axis = 1)

In [8]:
data = data.drop(['Country Name'], axis = 1)

In [9]:
data

,Country,Vaccines are not important for children to have (%),Vaccines are not safe (%),Vaccines are not effective (%),Overall Avg. (%),% of one years-old not vaccinated
0,Afghanistan,2.10,4.47,1.84,2.803333,34.0
1,Albania,1.67,15.85,8.96,8.826667,1.0
2,Algeria,3.70,11.28,7.70,7.560000,9.0
3,Argentina,1.21,4.85,2.95,3.003333,14.0
4,Armenia,12.18,20.57,12.47,15.073333,8.0
...,...,...,...,...,...,...
126,Venezuela,0.15,4.05,2.49,2.230000,40.0
127,Vietnam,1.39,8.11,3.57,4.356667,25.0
128,Yemen,1.84,3.06,3.22,2.706667,35.0
129,Zambia,2.34,10.28,8.15,6.923333,10.0
130,Zimbabwe,0.57,3.76,1.85,2.060000,11.0

In [10]:
data = pd.merge(data, wiki, left_on = 'Country', right_on = 'Countries', how = 'outer')

In [11]:
data = data.drop(['Countries'], axis = 1)

In [12]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [13]:
data = data[data['Country'].notna()]

In [14]:
data.head()

,Country,Vaccines are not important for children to have (%),Vaccines are not safe (%),Vaccines are not effective (%),Overall Avg. (%),% of one years-old not vaccinated,Vaccination policy
0,Afghanistan,2.10,4.47,1.84,2.803333,34.0,NaN
1,Albania,1.67,15.85,8.96,8.826667,1.0,NaN
2,Algeria,3.70,11.28,7.70,7.560000,9.0,NaN
3,Argentina,1.21,4.85,2.95,3.003333,14.0,NaN
4,Armenia,12.18,20.57,12.47,15.073333,8.0,NaN

In [15]:
# Saving dataset
data.to_csv('./datasets/dataset_clean.csv')